<template name="dashboardbooks">
  <div class="tweetfeed-container-nomargin" >
    <div class="" style="padding-top:10px;">
      <div class="">
        

			<div class="col-sm-3"> 

			</div>

			
			
			<div class="col-sm-6">
				<ul class="nav nav-tabs" style="background-color:transparent;">
				  <li class="nav-item">
					<a class="nav-link active" href="/dashboard" style="background-color:transparent!important;color:#f2f3f4!important;">Profile</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/dashboard/books" style="background-color:#f2f3f4!important;color:#107896!important;">Books</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#" style="background-color:transparent!important;color:#f2f3f4!important;">Notifications</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link disabled" href="#" style="background-color:transparent!important;color:#f2f3f4!important;">Placeholder</a>
				  </li>
				</ul>
				


			</div>
			
			<div class="col-sm-3" >

			</div>
        
      </div>
    </div>
  </div>

</template>


