
<template name="featured">
{{#if isHomePage}}
  <div class="tweetfeed-container-nomargin">
    <div class="" style="padding-top:10px;">
      <div class="">
        
        <!-- Text box for tweet content -->
		
		<div class="col-sm-3"> 
		<div class="panel panel-default " style="background:#fff;width=1250ch;padding:5px;font-size:21px;font-weight:normal;" id="booksummary" data-type="textarea">
			Highest rated books written by the community
		</div>
		</div>
		<div class="col-sm-6">
        {{#each bookEntity}}
          
            <div class="col-sm-6 col-md-4 col-lg-3" style="height: 314px;border-bottom:none">

			<br>
			<div style="margin-top:10px;margin-bottom:15px;">{{> rating value=this.rating disabled=true }}</div>
			
			
			
			<div class="row">
			<div class="col-xs-6">
			<div class="card bg-dark text-white " style="width:157px;height:240px;">
			  <img class="card-img" src="{{this.cover}}" alt="Card image" width="157" height="240">
			  <a href="/book/{{this._id}}/chapter/{{getFirstChapter this._id}}" style="text-decoration:none;">
			  <div class="cn">
				<div class="inner">
					<a href="/book/{{this._id}}/chapter/{{getFirstChapter this._id}}" style="margin:15px;" title="Newest chapter"><i class="fa fa-book fa-3x" aria-hidden="true" style="color:#107896;"></i></a>
					
				</div>
			</div>
			</a>
			<a href="/book/{{this._id}}" style="text-decoration:none;">
			  <div class="card-img-overlay card-overlayed" style="background-color:rgba(0,0,0,0.5);" title="{{this.booktitle}}">
				<h4 class="card-title ">{{this.booktitle}}</h4>
				
			  </div>
			  </a>
			  
			</div>
			
			</div>
			</div>
			
			
			</div>

        
        {{/each}}
		</div>
				<div class="col-sm-3"> 
		
		</div>
		
        
      </div>
    </div>
  </div>
  {{/if}}
</template>