
<template name="tree">

	<div style="margin-left:5px">
		{{#if isRoot}}
		{{! ROOT}}
				{{#each sub_chapter}}
			{{> tree butterid=this._id margin=this.margin}}		
		{{/each}}
		{{else}}
		<div id="collapse1" class="panel-collapse collapse in {{parent}}">
		<div class="card card-noshadow" style="margin:5px;width:97%;"  id="{{this._id}}"><a href="/book/{{bookID}}/chapter/{{chapterID2}}"><label style="cursor:pointer; color:#232f34; font-size: 15px;margin-left: 15px;margin-top: 15px;"> {{chapterNumber}}. {{chapterTitle}}&mdash; {{getTime chapterTime}} ago by {{chapterAuthor}}</label></a>
				<span class="input-group-btn" style="float:right;margin-right:0%;margin-top:8px;border-left:1px;padding-left:4px;">
					<a data-toggle="collapse" href="#{{chapterID2}}" class="btn getSubChapterbtn nohoverlink" style="background-color:transparent;border:1px solid #fff;padding:0px" id="getSubChapterbtn">
					<i class="fa fa-chevron-right fa-2x" aria-hidden="true" style="color:#232f34;margin-right:3px;"></i>
				</a>
				</span>
		</div>
		<div id="{{chapterID2}}" class="panel-collapse collapse ">
		{{#each sub_chapter}}
			{{> tree butterid=this._id margin=this.margin}}		
		{{/each}}
		</div>
		</div>
		{{/if}}

	</div>


</template>